<div class="row">
  <div class="col-5">
    <h2 class="alert alert-primary text-center">New application</h2>
    <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
        <small
          *ngIf="fieldHasError('name', 'minlength')"
          class="form-text invalid-form-text"
        >
          Your name should be at least 2 characters
        </small>
        <small
          *ngIf="fieldHasError('name', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your name
        </small>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          formControlName="surname"
        />
        <small
          *ngIf="fieldHasError('surname', 'minlength')"
          class="form-text invalid-form-text"
        >
          Your surname should be at least 2 characters
        </small>
        <small
          *ngIf="fieldHasError('surname', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your surname
        </small>
      </div>
      <div class="form-group">
        <label for="patronymic">Patronymic</label>
        <input
          type="text"
          class="form-control"
          id="patronymic"
          formControlName="patronymic"
        />
        <small
          *ngIf="fieldHasError('patronymic', 'minlength')"
          class="form-text invalid-form-text"
        >
          Your patronymic should be at least 2 characters
        </small>
        <small
          *ngIf="fieldHasError('patronymic', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your patronymic
        </small>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          formControlName="phoneNumber"
        />
        <small class="form-text font-weight-lighter">
          Format: (+996XXXYYYYYY)
        </small>
        <small
          *ngIf="fieldHasError('phoneNumber', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your phone number
        </small>
        <small
          *ngIf="fieldHasError('phoneNumber', 'phoneNumber')"
          class="form-text invalid-form-text"
        >
          Phone number should contain 12 numbers without spaces
        </small>
      </div>
      <div class="form-group">
        <label for="jobOrStudyPlace">Job or study place</label>
        <input
          type="text"
          class="form-control"
          id="jobOrStudyPlace"
          formControlName="jobOrStudyPlace"
        />
        <small
          *ngIf="fieldHasError('jobOrStudyPlace', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your job or place of study
        </small>
        <small
          *ngIf="fieldHasError('jobOrStudyPlace', 'minlength')"
          class="form-text invalid-form-text"
        >
          Your job or place of study should be at least 3 characters
        </small>
      </div>
      <div class="form-group" formArrayName="skills">
        <label for="skill">Skills:</label>
        <button
          type="button"
          class="btn btn-secondary ml-3 mb-3"
          (click)="addSkill()"
        >Add skill
        </button>
        <div class="form-group" *ngFor="let skillControl of getSkillControls(); let i = index">
          <div [formArrayName]="i" class="row">
            <div class="col-6">
              <select
                formControlName="skill"
                id="skill"
                class="form-control"
              >
                <option value="">Select a skill</option>
                <option value="JavaScript">JavaScript</option>
                <option value="React">React</option>
                <option value="Angular">Angular</option>
                <option value="Vue">Vue</option>
              </select>
              <small
                *ngIf="skillsFieldHasError('skill', i, 'required')"
                class="form-text invalid-form-text"
              >
                Select your skill
              </small>
            </div>
            <div class="col-6">
              <select
                formControlName="levelOfSkill"
                id="levelOfSkill"
                class="form-control"
              >
                <option value="">Select a level of skill</option>
                <option value="beginner">Beginner</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
                <option value="expert">Expert</option>
              </select>
              <small
                *ngIf="skillsFieldHasError('levelOfSkill', i,'required')"
                class="form-text invalid-form-text"
              >
                Select your level of skill
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <p>T-shirt variant</p>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="male"
            formControlName="tShirtVariant"
            value="male"
          />
          <label for="male" class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="female"
            formControlName="tShirtVariant"
            value="female"
          />
          <label for="female" class="form-check-label">Female</label>
        </div>
        <small
          *ngIf="fieldHasError('tShirtVariant', 'required')"
          class="form-text invalid-form-text"
        >
          Select your variant of T-shirt
        </small>
      </div>
      <div class="form-group">
        <label for="size">Size</label>
        <select
          class="form-control"
          id="size"
          formControlName="size"
        >
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
        <small
          *ngIf="fieldHasError('size', 'required')"
          class="form-text invalid-form-text"
        >
          Select your size
        </small>
      </div>
      <div class="form-group">
        <label for="comment">Your comment</label>
        <textarea
          class="form-control"
          id="comment"
          formControlName="comment"
        ></textarea>
        <small
          *ngIf="fieldHasError('comment', 'required')"
          class="form-text invalid-form-text"
        >
          Write your comment please
        </small>
        <small
          *ngIf="fieldHasError('comment', 'minlength')"
          class="form-text invalid-form-text"
        >
          Your comment should be at least 3 characters
        </small>
        <small
          *ngIf="fieldHasError('comment', 'maxlength')"
          class="form-text invalid-form-text"
        >
          Your comment should contain maximum 300 characters
        </small>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="formIsInvalid()"
      >
         <span *ngIf="!isUploading">
         Submit
         </span>
        <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
         </span>
      </button>
    </form>
  </div>
</div>


